*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url(./img/background);
    background-size: 100%;
    color: black;
}


header{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.home li a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 12px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    align-items: center;
}

.home li{
    list-style: none;
}

.texto{
    font-size: 15px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0%;
    left: 15%;
}

.menu li{
    display: inline-block;
    justify-content: space-around;
    margin: 0;
}

.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 12px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-weight: bold;
}

.menu li a:hover{
color: red;
}

#carrinho{
    position: absolute;
    left: 82%;
    display: inline-flex;
}